*{
  box-sizing: border-box;
}


.navbar {
  background-color: white !important;
  margin: 2%;
}

.btn-outline-success {
  color: white;
  background-color: #611f69;;
  background-image: none;
  border-color: #611f69;;
}

.form-control {
  width: 371.31px;
  height:57px;
  margin-bottom: .5rem;
  border-radius: 4px;
  border;: 1px solid black !important;
}

.btn-primary{
  color: #fff;
  background-color: #611f69;;
  border-color: #611f69;;
  width: 371.31px;
  height: 57px;
}

.form-container {
  margin: 4%;
  background-image: url(./images/slack-rightside.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

.card-header{
  font-size: 50px;
}

.o-section--feature-companies__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


