*{
  box-sizing: border-box;
}

body {
  margin-top: 100px;
}


.navbar {
  background-color: white !important;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.btn-sm:hover {
  color: #611f69
}


.btn-outline-success {
  color: white;
  background-color: #611f69;
  background-image: none;
  border-color: #611f69;
}

.btn-outline-success:hover {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  border-color: #4a154b;
}

.form-control {
  width: 371.31px;
  height:57px;
  margin-bottom: .5rem;
  border-radius: 4px;
  border;: 1px solid black !important;
}

.btn-primary{
  color: #fff;
  background-color: #611f69;;
  border-color: #611f69;;
  width: 371.31px;
  height: 57px;
}

.btn-primary:hover {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  border-color: #4a154b;
}

.form-container {
  margin: 5%;
  background-image: url(./images/slack-rightside.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

.card-header{
  font-size: 50px;
}

.o-section--feature-companies__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.video-page {
  margin: 20%;
}

h2{
  font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    margin-bottom:25px;
}

.btn-lg {
  color: #611f69;
  border: solid #611f69 1px;
  margin-bottom: 25px;
}

.btn-lg:hover {
  border: solid #611f69 2px;
}

.demo-page {
  margin: 5%;
}

.integrate {
  margin-top: 50px;
}

.for-desktop-only {
  font-size: 10px;
}

.integration_logo_container img {
  height: 40px;
  width: 40px;
}

.find {
  margin-top: 50px;
}

.contact-sales {
  background-image: url(/80588/spacesuit/source/images/backgrounds/bg-halftone-black-20p.png);
  background-size: 1300px 700px;
  background-repeat: repeat;
  background-color: #4a154b;
  display: flex;
  align-items: center;
  height: 376px;
  flex-direction: column;
  justify-content: center;
}

h3 {
  color: white;
  margin-bottom: 40px;
}

.contact-sales .btn-lg {
  height: 57px;
  width: 450px;
  background-color: white;
  color: #4a154b;
  border: solid #4a154b 1px;
  margin-bottom: 25px;
  margin-top: -10px;
}

.btn-secondary.btn-lg{
 background-color: #4a154b;
 color: white;
 border: solid white 1px;
 width: 450px;
 height: 57px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.navlist{
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

/*MEDIA QUERIES*/

@media (max-width: 600px) {

  body {
  margin: auto:
  } 
  .form-inline {
    display: none;
  }
  .form-container {
    margin:auto;
  }
  img {
    max-width: 375px;
  }
  .video-page {
    margin: auto;
  }
  .btn-lg {
    max-width: 300px;
  }

  .footer-container {
    max-width: 275px;
  }
}

@media (max-width: 900px) {
  
  }
}

