*{
  box-sizing: border-box;
}

body {
  margin-top: 100px;
}


.navbar {
  background-color: white !important;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}


.btn-outline-success {
  color: white;
  background-color: #611f69;;
  background-image: none;
  border-color: #611f69;;
}

.btn-outline-success:hover {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  border-color: #4a154b;
}

.form-control {
  width: 371.31px;
  height:57px;
  margin-bottom: .5rem;
  border-radius: 4px;
  border;: 1px solid black !important;
}

.btn-primary{
  color: #fff;
  background-color: #611f69;;
  border-color: #611f69;;
  width: 371.31px;
  height: 57px;
}

.btn-primary:hover {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  border-color: #4a154b;
}

.form-container {
  margin: 4%;
  background-image: url(./images/slack-rightside.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

.card-header{
  font-size: 50px;
}

.o-section--feature-companies__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.video-page {
  margin: 20%;
}

h2{
  font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    margin-bottom:25px;
}

.btn-lg {
  color: #611f69;
  border: solid #611f69 1px;
  margin-bottom: 25px;
}

.btn-lg:hover {
  border: solid #611f69 2px;
}




