*{
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #4e6c49;
  font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;

}

#page-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  background-color: white;
}

#top-header {
  background-color: #4e6c49;
  line-height: 1em;
  z-index: 100000;
  color: #fff;
  font-size: 12px;
}

#main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.container {
  position: relative;
  text-align: left;
}

.et-social-icon a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease 0s;
}

.et-social-icons li {
  display: inline-block;
}

.ul {
  list-style: none;
  display: inline-block;
}

.icon {
  background: #3B5998;
  color: white;
}

.icon2 {
  background: #55ACEE;
  color: white;
}

.navmenu {
  width: 100%;
  background-color: #4e6c49;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.navmenu a{
  color:white;
  text-decoration:none;
  font-size: 20px;
}

.hamburger{
  display:none;
  margin-right: 2%;
  color: white;
}

.menu-primary li {
  display: inline-block;
  padding-right: 22px;
}

.section2 {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 331.55px;
  width: 100%;
  margin: auto;
  background-color: #222;
}

.main-footer {
  background-color: #222;
  }

.widget-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-widget h4 {
  color: #2ea3f2;
  font-size: 20px;
}

.footer-widget p {
  color: white;
}

.footer-widget a {
  text-decoration: none;
  color: white;
}

#footer-bottom {
  padding: 1px 0 5px;
  background-color: rgba(0,0,0,.32);
}


/*MEDIA QUERIES*/

@media (max-width: 923px) {
  .hamburger {
    display: block;
    position: relative;
  }

  .menu-primary {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #4e6c49;
    width: 100%;
    margin-top: 5%;
  }

  .navmenu.clicked .menu-primary {
    display: block;
  }

  .navmenu.clicked .menu-primary li{
    display: block;
    margin: 2%;
    padding: 1%;
  }

  .navmenu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

  .main-footer {
    font-size: 10px;
  }