*{
  box-sizing: border-box;
}

body {
  background-color: #4e6c49;
  font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
}

#page-container {
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

#top-header {
  background-color: #4e6c49;
  line-height: 1em;
  z-index: 100000;
  color: #fff;
  font-size: 12px;
}

#main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.container {
  position: relative;
  text-align: left;
}

.et-social-icon a {
display: inline-block;
position: relative;
text-align: center;
text-decoration: none;
transition: color .3s ease 0s;
}

.et-social-icons li {
  display: inline-block;
}

ul {
  list-style: none;
  display: inline-block;
}

.icon {
  background: #3B5998;
  color: white;
}

.icon2 {
  background: #55ACEE;
  color: white;
}

.navmenu {
  width: 100%;
  background-color: #4e6c49;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-primary {
  padding: 15px 1px 1px !important;
}

.menu-primary li {
  display: inline-block;
  padding-right: 22px;
}

a {
  color: white;
  font-size: 20px;
  text-decoration:none;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}