*{
  box-sizing: border-box;
}

body{
  background-color: blue;
}
main.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 9.09% repeat(11);
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.a{
  color: green;
  width: 100px;
  height: 100px;

}