
body{
  background-image: url(./images/laptop.jpg);
  background-repeat: no-repeat;
  background-size: 1300px 850px;
}
#header-container {
  position: relative;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #505050;
  align-items: center;

}
.title {
  position: relative;
  font-family: miso-bold;
  color: #ffffff;
  font-size: 20px;
  top: 12px;
  float: left;
}

.container-right {
  position: relative;
  top: 7px;
  float: right;
  font-size: 12px;
  color:white;
}

.navbutton {
  position: relative;
  width: 34px;
  height: 27px;
  margin-right: 7px;
  display: inline-block;
}

#profile-pic {
  height: 300;
  margin: auto;
  padding: 50px;
}

.section {
  text-align: center;
}

