
body{
  background-image: url(./images/laptop.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 1200px;
}
#header-container {
  position: relative;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  align-items: center;

}
.title {
  position: relative;
  font-family: miso-bold;
  color: #ffffff;
  font-size: 20px;
  top: 10px;
  float: left;
}

#title-andrew {
  top: 10px;
  float: left;
}

#container-right {
  position: relative;
  top: 10px;
  float: right;
  color: white;
  word-spacing: 10px;
}

#a {
  margin-right: 20px;
}

#profile-pic {
  height: 300;
  margin: auto;
  padding: 50px;
}

.section {
  text-align: center;
}

