.main-container {
  width: 100%;
  height: 100%;
  margin: 5% auto;
}

header {
  text-align: center;
  background-color: orange;
  margin: 5% auto;
  border: solid pink 10px;
  width: 25%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  
}
li a:hover {
  background-color: #111;
}

body {
  background-color: aqua;
}

h1:hover {
    color: blue;
}

h1:active {
  color: pink;
}

article {
  margin: 1% auto;
  border: solid black;
  width: 60%;
  background-color:green;
}

article > h2 {
  font-size: 1em;
}

footer {
  text-align: center;
}