.main-container {
  width: 100%;
  height: 100%;
  border: 5px solid orchid;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: orange;
  margin: 5% auto;
  border: solid aqua;
  width: 25%;
}

main {
  background: green
  width: 10%;
  margin: 5%;
}

p {
  margin: 1%;
  background-color: teal;
  border: 5px  solid blue;
}





