*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: purple;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% repeat(6, 1fr) 15%;
  grid-template-rows: 25% 25% 25% 1fr;
  background-color: purple;
}

.top-text {
  
}

.content{
  
}

.nav-button {
  background-color: yellow;
  grid-column-start: 8;
  grid-column-end: 9;
}

h1{
  text-align: center;
  font-size: 1em;
}

.fish {

}

.art-image{
 
}

.social {
  grid-column-start: 3;
  grid-row-start: 4;
}